body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.5;
  font-size: 25px;
}

#page-content-container {
  display: flex;
  flex-direction: row;
}

#strawberry-chicken-image-container {
  margin-right: 20px;
}

#strawberry-chicken-image {
  border-radius: 50%;
  border: 5px solid #f5f5f5;
}

#strawberry-chicken-image-title {
  text-align: center;
}

#strawberry-chicken-description-container,
#strawberry-chicken-steps-container {
  margin-left: 20px;
  margin-top: 25px;
}

#strawberry-chicken-ingredients-container {
  font-size: 25px;
  line-height: 1.5;
  margin-left: 20px;
}

#footer-container {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
