body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

p {
  line-height: 1.5;
  font-size: 25px;
}

#page-content-container {
  display: flex;
  flex-direction: row;
}

#filet-image-container {
  margin-right: 20px;
}

#filet-image {
  border-radius: 50%;
  border: 5px solid #f5f5f5;
}

#filet-image-title {
  text-align: center;
}

#filet-description-container {
  margin-left: 20px;
  margin-top: 25px;
}

#description-paragraphs {
  padding: 5px;
  background-color: #b2ac88;
  border-radius: 10px;
  opacity: 0.8;
}

#lower-page-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#filet-ingredients-container {
  font-size: 25px;
  line-height: 1.5;
  margin-left: 20px;
}

#filet-steps-container {
  font-size: 25px;
  padding: 5px;
  background-color: #b2ac88;
  border-radius: 10px;
  opacity: 0.8;
  line-height: 1.5;
}
