html {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

a {
  color: #ba1628;
}

.bold {
  font-weight: bold;
}

.hover {
  cursor: pointer;
}

/* Section 1: Header */
#header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #778c80;
  height: 100%;
}

@media (max-width: 1120px) {
  #header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 5px;
  }
}

#header-title {
  font-weight: bold;
  color: #f5f5f5;
  font-size: 30px;
}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  width: 45%;
  color: #f5f5f5;
}

.header-title-button {
  background-color: #778c80;
  border: none;
  color: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  margin: 4px 2px;
  cursor: pointer;
}

.header-link-buttons {
  background-color: #778c80;
  border: none;
  color: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  margin: 4px 2px;
  cursor: pointer;
}

/* Section 2: Content */
#content-container {
  font-size: 28px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 1.5;
  color: black;
}

#image-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0;
  background-color: #dad6c0;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.image {
  border-radius: 10px 10px 0 0;
  width: 546px;
  height: 360px;
}

.image-description {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

/* Section 3: Recipe Pages */
#left-page-container {
  margin-top: 45px;
  margin-left: 20px;
}

#right-page-container {
  font-size: 25px;
  padding: 5px;
  background-color: #d4cfb4;
  border-radius: 10px;
  opacity: 0.8;
  line-height: 1.5;
  margin-top: 45px;
  margin-right: 20px;
}

.steps-container ul {
  line-height: 5;
}

.steps-container li {
  line-height: 1.5;
}

.time {
  color: #ba1628;
  font-size: 25px;
}
