body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.5;
  font-size: 25px;
}

#page-content-container {
  display: flex;
  flex-direction: row;
}

#potato-image-container {
  margin-right: 20px;
}

#potato-image {
  border-radius: 50%;
  border: 5px solid #f5f5f5;
}

#potato-image-title {
  text-align: center;
}

#potato-description-container,
#potato-steps-container {
  margin-left: 20px;
  margin-top: 25px;
}

#potato-ingredients-container {
  font-size: 25px;
  line-height: 1.5;
  margin-left: 20px;
}

#right-page-container {
  font-size: 25px;
  padding: 5px;
  background-color: #b2ac88;
  border-radius: 10px;
  opacity: 0.8;
  line-height: 1.5;
}

#footer-container {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
